html, body {
    height: 269px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    line-height: 0;
    font-size: 0;
    color: White;
    background: #161616; /* When ready, remove this to restore transparency. */
}
body > div {
    box-sizing: border-box;
    position: relative;
    height: 53.8px;
    margin: 0;
    padding: 0 0 0 1px;
}
body > div:nth-of-type(even) {
    background: rgba(86, 88, 90, 0.5);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
body > div > span {
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
/*    visibility: hidden;*/ /* When ready, remove this to show the hearts. */
}
body > div > span::after {
    margin-top: -7.5px;
    font-size: 15px;
}
body > div > span.aloof::after {
    content: "\2661";
}
body > div > span.like::after {
    color: Red;
    content: "\2665";
}
